*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: 1s;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40vw;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: aqua;
    display: flex;
    align-items: center;

    flex-direction: column;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    font-size: 32px;
    font-weight: bold;

}

.btn1{
    width: 80%;
    margin: 0 12px 18px 12px;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;


}